html, body {
  height: 100%; }
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
html {
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
  *,
  *::before,
  *::after {
    -moz-box-sizing: inherit;
         box-sizing: inherit; }
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

  html {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-size: 100%; }

body {
  margin: 0; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #EEEEEE; }
  @media (max-width: 767px) {
    body {
      font-size: 0.75rem; }}



article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }


* {
    outline: 0;
}

img {
  max-width: 100%; }

img {
  border-style: none; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);}
