:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    outline: 0;
}






html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}

html {
    display: block;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}



body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: #EEEEEE;
}

h1 {
    font-size: 30px;
    line-height: 35px;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
h1, .h1 {
    font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*:hover, *:focus {
    outline: 0;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 12px;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-block {
    display: block;
    width: 100%;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
}
