.main-container {
    min-height: -webkit-calc(100% - 162px);
    min-height: -moz-calc(100% - 162px);
    min-height: calc(100% - 162px);
    padding: 30px 0;
}

.col-thin-right {
  padding-right: 10px; }

.ev-image {
  display: block;
  position: relative; }
.ev-image img {
  width: 100%;
  border-radius: 3px 3px 0 0; }
.ev-image:hover .share-text {
  opacity: 1;
  letter-spacing: 2px; }

.ev-share {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  width: 100%;
  padding: 60px 0 0;
  background: -webkit-linear-gradient(top, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
  background: -moz-linear-gradient(top, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, transparent 36%, rgba(0, 0, 0, 0.9) 100%); }
  .ev-share .social-links {
    float: right;
    padding: 20px; }
    .ev-share .social-links a {
      color: #fff;
      font-size: 1rem;
      -webkit-transform: scale(1);
         -moz-transform: scale(1);
           -o-transform: scale(1);
              transform: scale(1);
      opacity: .8; }
      .ev-share .social-links a:hover {
        -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
             -o-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1; }
    .ev-share .social-links .share-text {
      text-transform: uppercase;
      letter-spacing: 0;
      opacity: 0;
      -webkit-transition: all 0.25s ease-in-out;
         -moz-transition: all 0.25s ease-in-out;
           -o-transition: all 0.25s ease-in-out;
              transition: all 0.25s ease-in-out;
      font-size: 12px;
      color: #a8b2b9; }

.ev-image {
  display: block;
  position: relative; }
  .ev-image img {
    width: 100%;
    border-radius: 3px 3px 0 0; }
  .ev-image:hover .share-text {
    opacity: 1;
    letter-spacing: 2px; }

ul li {
  margin: 0;
  padding: 0;}

.event-details-title {
  padding: 30px;
  background: #fff;
  border-bottom: solid 1px #ddd; }
  @media (max-width: 767px) {
    .event-details-title {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      height: auto;
      clear: both;
      padding-bottom: 10px; } }
  .event-details-title .title {
    position: relative;
    display: block;
    padding-right: 130px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0; }
    @media (max-width: 767px) {
      .event-details-title .title {
        padding-right: 0; } }

h1 {
  font-size: 25px;
  line-height: 35px;}

.auto-price {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 600;
  color: #ff9113; }
  @media (max-width: 767px) {
    .auto-price {
      position: relative;
      right: 0;
      top: 0;
      float: left !important;
      display: block;
      width: 100%;
      clear: both;
      margin-top: 5px;
      margin-bottom: 10px; } }

.ads-details-wrapper.event {
  padding: 30px; }

.page-content .inner-box {
  overflow: auto;
  padding: 20px; }
.page-content .inner-box .title-2 {
  line-height: 1;
  margin: 5px -20px 25px;
  padding: 0 20px 20px; }

.ads-details-wrapper.inner-box {
  padding-bottom: 0; }

.inner-box {
  background: #ffffff;
  border-radius: 3px 3px;
  box-shadow: 0 1px 1px rgba(180, 180, 180, 0.5);
  margin-bottom: 30px;
  padding: 20px 15px; }
  .inner-box.ads-details-wrapper {
    width: 100%;
    clear: both; }
  .inner-box.add {
    background: #ffffff;
    border-radius: 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 5px; }
    .inner-box.add img {
      width: 100%; }

.text-uppercase {
  text-transform: uppercase !important; }

  h4 {
      font-size: 17px;
      line-height: 20px;
  }

b,
strong {
  font-weight: bolder; }

.page-sidebar-right {
  padding-left: 10px; }

.block-cell {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 15px;
  position: relative;
  width: 100%;
  background: #fff;
  border: solid 1px #ddd;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .block-cell .title {
    text-transform: capitalize;
    margin: 0 0 5px;
    color: #999999;
    font-size: 13px;
    padding: 0;
    line-height: normal; }
  .block-cell .name {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    padding: 0;
    line-height: normal; }
  .block-cell .rating {
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #2ECC71;
    color: #2ECC71;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    border-radius: 2px; }
  .block-cell .cell-media {
    width: 60px; }
    .block-cell .cell-media img {
      width: 100%; }
  .block-cell .cell-content {
    padding-left: 20px; }


.card-header {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  }

.sidebar-card {
  margin-bottom: 20px; }
.sidebar-card .card-header {
  background: #f8f8f8;
  position: relative;
  border-bottom: solid 1px #ddd;
  font-size: 1rem;
  line-height: 22px; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

h5 {
  font-size: 13px;
  line-height: 20px;}

.ev-info-details {
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  display: -webkit-flex;
  display: -moz-box;
  display: flex; }
  .ev-info-details .ev-icon {
    vertical-align: top;
    margin: 0px 15px 0 0;
    font-size: 18px;
    color: #636c72; }
  .ev-info-details .ev-details {
    margin: 2px auto 0;
    overflow: hidden;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
            flex: 1 1 auto;
    color: #636c72; }

.ev-action {
  border-top: solid 1px #ddd;
  padding: 20px; }
  .ev-action .btn {
    margin-bottom: 10px; }
  .ev-action p {
    margin-bottom: 0;
    padding-bottom: 0; }

.btn-success {
  color: #fff;
  background-color: #2ECC71;
  border-color: #2ECC71; }
  .btn-success:hover {
    color: #fff;
    background-color: #25a25a;
    border-color: #239a55; }
  .btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 2px rgba(46, 204, 113, 0.5); }
  .btn-success.disabled, .btn-success:disabled {
    background-color: #2ECC71;
    border-color: #2ECC71; }
  .btn-success:active, .btn-success:active:focus, .btn-success.active, .btn-success.active:focus,
  .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #25a25a;
    background-image: none;
    border-color: #239a55; }
  .btn-success:not([href]):not([tabindex]) {
    color: #fff; }
    .btn-success:not([href]):not([tabindex]):hover {
      color: #fff; }
